*{margin: 0;padding: 0;box-sizing: border-box;font-family: "DM Sans", sans-serif;}
.w{width: 1200px;margin: 0 auto}
.fsb{display: flex;align-items: center;justify-content: space-between}
p {font-size: 15px;padding: 10px;line-height: 1.5;letter-spacing: 0.5px;}

.d0 {background: #16BECB;padding: 15px 0;}

.a1 {text-decoration: none;color: white;margin-right: 40px;font-size: 14px;}
.sl1 {background: none;border: none;color: white;outline: none;}
.d2 {display: flex;align-items: center;}
.i1 {width: 20px;margin-right: 7px;}
.i2 {width: 100px;}
.n {display: flex;align-items: center;}
.a2 {margin: 0 15px;text-decoration: none;color: #000000;}
.bt1 {border: none;padding: 14px 32px;background: #ACD24B;color: white;border-radius: 30px;font-size: 15px;}
#menu{
    width: 35px;
    display: none;
    cursor: pointer;
}

#ft {background: #07474B;position: relative;
    border-bottom: 55px solid #16BECB;
    padding: 27px 0px;}
.s100 {color: white;font-size: 22px;font-weight: 600;}
.u100 {list-style: none;padding: 0;}
.l100 {margin: 14px 0;}
.a100 {text-decoration: none;color: white;}
.d101 {width: 13%;}
#page-content {
    padding: 170px 0 0 0;
}
div#footer1 {
    align-items: start;
}
.d100 {
    width: 50%;
    display: flex;
    height: 100%;
}
span.s101 {
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    color: white;
    bottom: -35px;
}
.i200{}
@media screen and (max-width:1240px) {.w {width: 93%;margin: 0 3.5%}}
@media screen and (max-width:700px) {
    .n {
        display: none;
        position: absolute;
        bottom: -128px;
        flex-direction: column;
        right: 0;
        background: white;
        padding: 10px;
        align-items: start;
    }
    .a2 {
        padding: 5px 0;
    }
    #menu{
        display: block;
        order: 3;
    }
}

@media screen and (max-width:520px) {
    #heder1 {
        flex-direction: column;
    }
    .d1 {
        margin-bottom: 10px;
    }
}

@media screen and (max-width:810px) {
    div#footer1 {
        flex-wrap: wrap;
        justify-content: space-around;

    }
    .d100 {
        width: 100%;
        display: flex;
        margin-bottom: 20px;
    }
    .d101 {
        width: 40%;
    }
}
